.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    &.open {
        display: block;
    }
    &.callback {
        .modal__content {
            width: 378px;
            max-width: 85%;
        }
    }
    &.sign-in {
        .modal__content {
            width: 755px;
            max-width: 85%;
        }
    }
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
}
.modal__content {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 34px 42px 34px 37px;
    z-index: 100;
}
.modal__close {
    position: absolute;
    top: -40px;
    right: -40px;
    background: transparent;
    border: 0;
    cursor: pointer;
    &:hover {
        svg {
            fill: #fff;
        }
    }
    svg {
        fill: #dbdbdb;
    }
}
.modal__left {
    padding-right: 43px;
    border-right: 1px solid #dbdbdb;
}
.modal__right {
    padding-left: 40px;
}
.modal__header {
    h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 33px;
        color: #3b3b3b;
    }
}
.modal__form {
    .modal__label {
        margin-bottom: 15px;
    }
    .modal__input {
        font-size: 14px;
    }
    .modal__error {
        color: #ff4800;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}
.modal__label {
    display: inline-block;
    width: 100%;
    span {
        display: inline-block;
        font-size: 14px;
        color: #3b3b3b;
        margin-bottom: 12px;
    }
}
.modal__input {
    width: 100%;
    border: 1px solid #d2d2d2;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
}

.modal__checkbox {
    padding-left: 25px;
    position: relative;
    width: auto;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        left: 0;
        &:checked {
            & + span:before {
                border-color: $primary;
                background-color: $primary;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }
    }
    span {
        margin-bottom: 0;
        line-height: 19px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #d2d2d2;
            cursor: pointer;
        }
    }
}
.modal__form-links {
    margin-bottom: 30px;
    a {
        display: inline-block;
        font-size: 14px;
        color: #3d3d3d;
        margin-right: 20px;
        &:hover {
            text-decoration: none;
        }
    }
}
.modal__action {
    margin-top: 31px;
    text-align: center;
}
.modal__btn {
    height: 50px;
    background: $primary;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 0 50px;
    cursor: pointer;
    &:hover {
        background: #db7200;
    }
}
.modal__form-enter {
    background: #afb9c6;
    padding: 0 26px;
    &:hover {
        background: #8b939e;
    }
}
.modal__social-sign {
    display: flex;
    flex-direction: column;
}
.modal__social  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 0;
    margin-bottom: 23px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    svg {
        margin-right: 10px;
        fill: #fff;
    }
    &.facebook {
        background: #3b5998;
        &:hover {
            background: #385184;
        }
    }
    &.twitter {
        background: #41abe1;
        &:hover {
            background: #378cb8;
        }
    }
    &.google {
        background: #ea4335;
        &:hover {
            background: #c03d32;
        }
    }
}
.modal__text {
    font-size: 14px;
    color: #3b3b3b;
}

@media screen and (max-width: 768px) {
    .modal.sign-in {
        .modal__content {
            max-width: 85%;
        }
    }
    .modal__content {
        padding: 20px;
        top: 50px;
    }
    .modal__left {
        border-right: 0;
        margin-bottom: 30px;
        padding-right: 0;
    }
    .modal__form-enter {
        width: 100%;
    }
    .modal__right {
        padding-left: 0;
    }
    .modal__social-sign {
        flex-direction: row;
        justify-content: center;
    }
    .modal__social  {
        padding: 0 25px;
        margin-bottom: 0;
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    .modal__close {
        top: 20px;
        right: 20px;
        &:hover {
            svg {
                fill: #000;
                opacity: 1;
            }
        }
        svg {
            fill: #000;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 580px) {
    .modal__social  {
        span {
            display: none;
        }
        svg {
            margin-right: 0;
        }
    }
    .footer__form input {
        padding: 0 15px;
    }
    .footer__subscribe-btn {
        font-size: 14px;
        padding: 0 15px;
    }
}